<h4> Profile Picture </h4>
<form ng-submit='cCtrl.createProfile()'>
    <input
        type="file"
        ngf-select=" "
        ngf-accept="'image/*'"
        ngf-pattern="'image/*'"
        ng-model="cCtrl.file"/>

    <h4>About you!</h4>
    <input type='text' placeholder=" Tell me about yourself! We care" ng-model="cCtrl.about">

    <h4>Favorite Artists </h4>
    <input type='text' placeholder=" Fav Artists" ng-model="cCtrl.artist">

    <h4>Your role </h4>
    <input type='text' placeholder=" Your Role(ex: Experienced? Noob? Average?)" ng-model="cCtrl.role">

    <h4> Your software </h4>
    <input type='text' placeholder="Your software" ng-model="cCtrl.software">

    <button type="submit"> Save </button>
</form>
